.main-rightdiv{
    width: 425px;
    height: 405px;
    padding: 2rem;
    background-color: var(--Very-dark-cyan);
    border-radius: 1.2rem;
}

.reset-btn{
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--Strong-cyan);
    border: none;
    color: var(--Very-dark-cyan);
    font-size: 20px;
    padding: .5rem 0 0.5rem;
    border-radius: 0.4rem;
}

.reset-btn:hover{
    background-color: var(--Light-grayish-cyan);
}

.main-rightdiv .title{
    color: var(--White);
}

.main-rightdiv .person{
    color: var(--Grayish-cyan);
    font-size: 14px;
}

.tip-amount-value, .total-value{
    font-size: 3.1rem;
    color: var(--Strong-cyan);
}

.tip-amount, .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total{
    margin-top: 1rem;
    margin-bottom: 7.4rem;
}