@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --Strong-cyan: hsl(172, 67%, 45%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

button{
    font-size: 24px;
}

p{
    font-size: 16px;
}

.App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--Light-grayish-cyan);
}

.App h1{
    margin-bottom: 3.5rem;
    word-spacing: 2rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--Dark-grayish-cyan);
    font-size: 24px;
}

.container{
    display: flex;
    background-color: var(--White);
    border-color: red 2px solid;
    /* box-shadow: 1px 1 var(--Light-grayish-cyan); */
    width: 922px;
    height: 484px;
    border-radius: 1.5rem;
    padding: 2.5rem;
}

.main-leftdiv{
    width: 410;
    height: 405;
    margin-right: 3rem;
}

img{
    position: relative;
    top: 38px;
    left: 22px;
}

.bill, .select-tip, .number-of-people p{
    color: var(--Dark-grayish-cyan);
}

.main-leftdiv input{
    font-size: 24px;
}

.tip-buttons{
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.tip-buttons button{
    background-color: var(--Very-dark-cyan);
    border: none;
    color: var(--White);
    border-radius: 0.3rem;
    width: 7rem;
    height: 3rem;
    margin-right: 0.6rem;
    cursor: pointer;
    margin-bottom: 0.6rem;
}

.tip-buttons input{
    color: var(--Very-dark-cyan);
    background-color: var();
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 0.5rem;
    width: 7rem;
    height: 3rem;
    margin-right: 0.6rem;
    cursor: pointer;
    margin-bottom: 0.6rem;
    padding: .5rem;
}

.tip-buttons button:hover{
    background-color: var(--Light-grayish-cyan);
    border: none;
    color: var(--Very-dark-cyan);
}

.bill p{
    margin-bottom: -1rem;
}

.bill input{
    border: none;
    background-color: var(--Very-light-grayish-cyan);
    border-radius: 0.4rem;
    height: 3rem;
    width: 100%;
    padding: 0.6rem;
    margin-bottom: 2rem;
}

.number-people p{
    margin-bottom: -0.9rem;
}

.number-people input{
    border: none;
    border-radius: 0.4rem;
    height: 3rem;
    width: 100%;
    padding: 0.6rem;
    background-color: var(--Very-light-grayish-cyan);
}

input:focus {
    outline-color: var(--Strong-cyan);
    border: 1px;
}

input{
    text-align: right;
}

.alerta{
    color: red;
}

.titles{
    display: flex;
    justify-content: space-between;
}